framework:
    messenger:
        failure_transport: failed

        transports:
            sync: 'sync://'

            async:
                dsn: 'doctrine://default?queue_name=messages'
                retry_strategy:
                    max_retries: 5
                    delay: 1000        # 1 second initial delay
                    multiplier: 3      # Exponential backoff: 1s, 3s, 9s, 27s, 81s
                    max_delay: 120000  # Max 2 minutes between retries

            failed: 'doctrine://default?queue_name=failed'

        routing:
            'App\Admin\Application\Stripe\Message\ProcessSubscriptionCreatedMessage': async
            'App\Admin\Domain\User\PlatformSubscriptionCouponGenerated': async

when@test:
    framework:
        messenger:
            transports:
                async: 'in-memory://'
