version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: .docker/php/Dockerfile
      target: dev
    command:
      - php-fpm
    environment:
      APP_ENV: dev
    depends_on:
      - database
    volumes:
      - ./:/app:cached
    networks:
      - app-network

  nginx:
    build:
      context: .
      dockerfile: .docker/nginx/Dockerfile
      target: dev
    ports:
      - "8000:80"
      - "443:443"
    depends_on:
      - app
    volumes:
      - ./public:/app/public:cached
    networks:
      - app-network

  database:
    image: postgres:${POSTGRES_VERSION:-17.5}-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-app}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-app}
      POSTGRES_USER: ${POSTGRES_USER:-app}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "${POSTGRES_DB:-app}", "-U", "${POSTGRES_USER:-app}"]
      timeout: 5s
      retries: 5
      start_period: 60s
    volumes:
      - db-data:/var/lib/postgresql/data:rw
    networks:
      - app-network

volumes:
  db-data:

networks:
  app-network:
