# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    app_environment: '%env(APP_ENV)%'
    discord_client_id: '%env(DISCORD_CLIENT_ID)%'
    discord_client_secret: '%env(DISCORD_CLIENT_SECRET)%'
    discord_bot_token: '%env(DISCORD_BOT_TOKEN)%'
    main_domain: '%env(MAIN_DOMAIN)%'
    default_mailer_dsn: '%env(DEFAULT_MAILER_DSN)%'
    default_mailer_from: '%env(DEFAULT_MAILER_FROM)%'
    allowed_platform_prices: '%env(ALLOWED_PLATFORM_PRICES)%'
    super_admin_usernames: '%env(SUPER_ADMIN_USERNAMES)%'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../lib/modules/src/'
        exclude:
#             - '../lib/modules/src/*/Domain/'
            - '../lib/modules/src/Kernel.php'

    App\Frontend\Infrastructure\Provider\RepositoryTenantProvider:
        arguments:
            $tenantHostExtractor: '@App\Shared\Infrastructure\Extractor\RequestStackTenantHostExtractor'
            $tenantRepository: '@App\Admin\Infrastructure\Persistence\Doctrine\Tenant\DoctrineTenantRepository'

    App\Frontend\Infrastructure\Provider\ApiDiscordBotManagerProvider:
        arguments:
            $httpClient: '@http_client'
            $botToken: '%discord_bot_token%'

    App\Frontend\Infrastructure\Persistence\Doctrine\Member\DoctrineMemberRepository:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'

    App\Frontend\Infrastructure\Provider\HttpStripeProvider:
        arguments:
            $tenantProvider: '@App\Frontend\Infrastructure\Provider\RepositoryTenantProvider'
            $OAuth2Client: '@knpu.oauth2.client.stripe_admin'
            $stripeAccountRepository: '@App\Shared\Domain\Stripe\StripeAccountRepository'
            $logger: '@logger'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    App\Shared\Infrastructure\Symfony\Security\AdminDiscordAuthenticator:
        arguments:
            $discordOauthClient: '@knpu.oauth2.client.discord_admin'
            $router: '@router'
            $connector: '@App\Admin\Application\Discord\AdminDiscordUserConnector'

    App\Shared\Infrastructure\Symfony\Security\DiscordAdminProvider: ~

    App\Shared\Infrastructure\Validator\IsAValidStripeUserDataValidator:
        arguments:
            $stripeProvider: '@App\Frontend\Infrastructure\Provider\HttpStripeProvider'
        tags: ['validator.constraint_validator']

    App\Frontend\Ui\Adapter\Http\:
        resource: '../lib/modules/src/Frontend/Ui/Adapter/Http/'
        tags: ['controller.service_arguments']

    App\Shared\Mailer\ActiveCampaignTransportFactory:
        arguments:
            $dispatcher: '@event_dispatcher'
            $client: null
            $logger: '@logger'

    Symfony\Component\HttpFoundation\Session\Storage\Handler\PdoSessionHandler:
        arguments:
            - '%env(DATABASE_URL)%'
            - { ttl: 86400 }

    App\Frontend\Domain\Generator\OtpGenerator: '@App\Shared\Infrastructure\Generator\RandomOtpGenerator'

    App\Frontend\Domain\Mailer\MailerConfigFactory:
        arguments:
            $tenantProvider: '@App\Frontend\Domain\Tenant\TenantProvider'
            $mailerTransportFactory: '@App\Frontend\Domain\Mailer\MailerTransportFactory'
            $defaultMailerDsn: '%default_mailer_dsn%'
            $defaultMailerFrom: '%default_mailer_from%'

    App\Admin\Infrastructure\Persistence\Doctrine\Tenant\DoctrineTenantPriceToRolesMappingRepository:
        public: true

    App\Admin\Infrastructure\Provider\Stripe\Oauth2ClientAccountStripeProvider:
        arguments:
            $OAuth2Client: '@knpu.oauth2.client.stripe_admin'
            $stripeAccountRepository: '@App\Shared\Domain\Stripe\StripeAccountRepository'
            $logger: '@logger'

    App\Admin\Ui\Adapter\Http\:
        resource: '../lib/modules/src/Admin/Ui/Adapter/Http/'
        tags: ['controller.service_arguments']

    App\Admin\Ui\Adapter\Http\Discord\GetConnectDiscordGuildController:
        arguments:
            $security: '@security.helper'
            $twig: '@twig'
            $urlGenerator: '@router.default'
            $apiDiscordBotManagerProvider: '@App\Frontend\Infrastructure\Provider\ApiDiscordBotManagerProvider'
            $accountStripeProvider: '@App\Admin\Infrastructure\Provider\Stripe\Oauth2ClientAccountStripeProvider'
            $stripeAccountRepository: '@App\Shared\Infrastructure\Persistence\Doctrine\Stripe\DoctrineStripeAccountRepository'
            $tenantPriceToRolesMappingRepository: '@App\Admin\Infrastructure\Persistence\Doctrine\Tenant\DoctrineTenantPriceToRolesMappingRepository'
            $discordClientId: '%discord_client_id%'
        tags: ['controller.service_arguments']

    # Stripe Webhook Configuration (Connect)
    App\Shared\Infrastructure\Stripe\StripeWebhookValidator:
        arguments:
            $webhookSecret: '%env(STRIPE_WEBHOOK_SECRET)%'
            $logger: '@logger'

    AdminStripeWebhookValidator:
        class: App\Shared\Infrastructure\Stripe\StripeWebhookValidator
        arguments:
            $webhookSecret: '%env(PLATFORM_STRIPE_WEBHOOK_SECRET)%'
            $logger: '@logger'

    # Platform Stripe Client (for platform subscriptions)
    platform_stripe_client:
        class: Stripe\StripeClient
        arguments:
            - '%env(PLATFORM_STRIPE_API_KEY)%'

    App\Admin\Infrastructure\Provider\Stripe\ApiPlatformStripeProvider:
        arguments:
            $stripeClient: '@platform_stripe_client'
            $logger: '@logger'

    App\Admin\Domain\Stripe\PlatformStripeProvider: '@App\Admin\Infrastructure\Provider\Stripe\ApiPlatformStripeProvider'

    App\Admin\Domain\User\AllowedPlatformPrices:
        arguments:
            $pricesEnv: '%allowed_platform_prices%'

    App\Admin\Application\Stripe\HandlePlatformSubscriptionWebhookUseCase:
        arguments:
            $userRepository: '@App\Admin\Domain\User\UserRepository'
            $pendingPlatformSubscriptionRepository: '@App\Admin\Domain\User\PendingPlatformSubscriptionRepository'
            $messageBus: '@Symfony\Component\Messenger\MessageBusInterface'
            $logger: '@logger'
            $allowedPlatformPrices: '@App\Admin\Domain\User\AllowedPlatformPrices'

    App\Admin\Application\Stripe\MessageHandler\ProcessSubscriptionCreatedHandler:
        arguments:
            $pendingPlatformSubscriptionRepository: '@App\Admin\Domain\User\PendingPlatformSubscriptionRepository'
            $eventBus: '@Symfony\Component\Messenger\MessageBusInterface'
            $platformStripeProvider: '@App\Admin\Domain\Stripe\PlatformStripeProvider'
            $logger: '@logger'

    # Platform Webhook Controller
    App\Admin\Ui\Adapter\Http\Stripe\PlatformWebhookController:
        arguments:
            $webhookValidator: '@AdminStripeWebhookValidator'
            $handleWebhookUseCase: '@App\Admin\Application\Stripe\HandlePlatformSubscriptionWebhookUseCase'
            $logger: '@logger'
        tags: ['controller.service_arguments']

    # Account Linking Token Repository
    App\Shared\Domain\Stripe\AccountLinkingTokenRepository: '@App\Shared\Infrastructure\Persistence\Doctrine\Stripe\DoctrineAccountLinkingTokenRepository'

    # Pending Platform Subscription Repository
    App\Admin\Infrastructure\Persistence\Doctrine\User\DoctrinePendingPlatformSubscriptionRepository:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
            $logger: '@logger'

    App\Admin\Domain\User\PendingPlatformSubscriptionRepository: '@App\Admin\Infrastructure\Persistence\Doctrine\User\DoctrinePendingPlatformSubscriptionRepository'

    # User Repository
    App\Admin\Domain\User\UserRepository: '@App\Admin\Infrastructure\Persistence\Doctrine\User\DoctrineUserRepository'

    App\Shared\Infrastructure\Symfony\EventSubscriber\UserSubscriptionCheckSubscriber:
        arguments:
            $mainDomain: '%main_domain%'

    App\Admin\Application\MessageHandler\SendPlatformSubscriptionCouponEmailHandler:
        arguments:
            $platformMailerFrom: '%default_mailer_from%'

    App\Twig\Components\DiscordConnect:
        arguments:
            $urlGenerator: '@router'
            $mainDomain: '%main_domain%'

    App\Frontend\Ui\Adapter\Http\HomeController:
        arguments:
            $mainDomain: '%main_domain%'
        tags: ['controller.service_arguments']

    App\Admin\Infrastructure\Security\SwitchUserVoter:
        arguments:
            $superAdminUsernames: '%super_admin_usernames%'
        tags: ['security.voter']

    App\Admin\Domain\Stripe\PendingStripeInstallationRepository: '@App\Admin\Infrastructure\Persistence\Doctrine\Stripe\DoctrinePendingStripeInstallationRepository'

    App\Admin\Ui\Adapter\Http\Stripe\InstallationCallbackController:
        arguments:
            $pendingInstallationRepository: '@App\Admin\Domain\Stripe\PendingStripeInstallationRepository'
            $accountStripeProvider: '@App\Admin\Infrastructure\Provider\Stripe\Oauth2ClientAccountStripeProvider'
            $defaultMailerFrom: '%default_mailer_from%'
        tags: ['controller.service_arguments']

    App\Admin\Ui\Adapter\Http\Stripe\CompleteInstallationController:
        arguments:
            $pendingInstallationRepository: '@App\Admin\Domain\Stripe\PendingStripeInstallationRepository'
        tags: ['controller.service_arguments']

    App\Admin\Ui\Adapter\Http\Stripe\SubmitEmailController:
        arguments:
            $pendingInstallationRepository: '@App\Admin\Domain\Stripe\PendingStripeInstallationRepository'
            $defaultMailerFrom: '%default_mailer_from%'
        tags: ['controller.service_arguments']
