<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="turbo-prefetch" content="false">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
